<!DOCTYPE html>
<html>
<<<<<<< HEAD
    <head>
        <%- include ("../partials/header.ejs") %>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <%- include ("jogo.html") %>
    </body>
</html>
=======
    <head></head>
    <body>
        <%- include ("jogo.html") %>
    </body>
</html>


>>>>>>> 1fdecdf6f43b97d7dd4fda158fbbb55335153bea
